<div data-dojo-attach-point="containerNode" class="gis_NavToolsDijit">
<!--<div class="">-->
        <div class="navMenuZoom">
<!--
			<button class="streetViewButton" data-dojo-attach-point="gis_NavToolsDijit" data-dojo-attach-event="onClick:zoomIn">
				<span class="esri-icon-zoom-in-magnifying-glass" aria-label="close icon"></span>
			</button>
-->

            <a href="#" class='zoominIcon' data-dojo-attach-event="onClick:zoomIn">
				<span class="esri-icon-zoom-in-magnifying-glass" aria-label="close icon"></span>
            </a>
            <a href="#" class='zoominIcon' data-dojo-attach-event="onClick:zoomOut">
				<span class="esri-icon-zoom-out-magnifying-glass" aria-label="close icon"></span>
			</a>
            <a href="#" class='zoominIcon'  data-dojo-attach-event="onClick:fullExtent">
				<span class="esri-icon-public" aria-label="close icon"></span>
            </a>
            <a href="#" class='zoominIcon'  data-dojo-attach-event="onClick:prevExtent">
				<span class="esri-icon-left-arrow" aria-label="close icon"></span>
            </a>
            <a href="#" class='zoominIcon'  data-dojo-attach-event="onClick:nextExtent">
				<span class="esri-icon-right-arrow" aria-label="close icon"></span>
            </a>
<!--        </div>-->
		</div>
</div>